# Sequence Type

In [2]:
#count
ipaddress = input("enter ip address")
print(ipaddress.count("."))

enter ip address123.168.0.1
3

### List

In [4]:
Fruits = ["mango","orange","apple"]
for fruit in Fruits:
    print("This fruit is {0}".format(fruit))

This fruit is mango
This fruit is orange
This fruit is apple

In [6]:
# append()
Fruits.append("graps")
for fruit in Fruits:
    print("This fruit is {0}".format(fruit))

This fruit is mango
This fruit is orange
This fruit is apple
This fruit is graps
This fruit is graps

In [7]:
#List concatinate
odd = [1,3,5,7,9]
even = [2,4,6,8]
numbers = odd+even
print(numbers)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [10]:
#List Sort
numbers.sort()
print(numbers)
sorted_numbers = sorted(odd+even)
print(sorted_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
#Creating list
list_1 = []
del list
list_2 = list()
if list_1 == list_2:
    print("list are equals")

list are equals

In [13]:
even = [2,4,6,8]
another_even = even
another_even.sort(reverse = True)
print(even)
print(another_even is even)

[8, 6, 4, 2]
True

In [14]:
another_even = list(even)
another_even.sort(reverse = True)
print(another_even is even)

False

In [16]:
another_even = sorted(even, reverse = True)
print(another_even)

[8, 6, 4, 2]

In [18]:
odd = [1,3,5,7,9]
even = [2,4,6,8]
numbers = [even, odd]
for number_set in numbers:
    print(number_set)
    for number in number_set:
        print(number)

[2, 4, 6, 8]
2
4
6
8
[1, 3, 5, 7, 9]
1
3
5
7
9

In [19]:
menu = []
menu.append(["egg","sasuge","bacon"])
menu.append(["egg","spam","sasuge","bacon"])
menu.append(["egg", "bacon","sasuge"])
menu.append(["spam","bacon","egg","sasuge"])
for meal in menu:
    if not "spam" in meal:
        print(meal)

['egg', 'sasuge', 'bacon']
['egg', 'bacon', 'sasuge']

In [20]:
#iterator
list =["cognizant","technology","solution"]
my_iterate = iter(list)
for i in range(0,len(list)):
    next_item = next(my_iterate)
    print(next_item)

cognizant
technology
solution

In [29]:
#range example
odd = list(range(1,10,2))
even = list(range(0,10,2))
print(even)
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [31]:
name = "Prasada"
print(name.index('a'))
print(name[2])

2
a

In [35]:
print(range(0,10,2) == range(0,9,2))

True

In [36]:
print(range(2,100)[::-2] == range(99,2,-2))

True

In [37]:
name = "Prasad"
print(name[::-1])

dasarP

### Tuples

In [38]:
name = "Prasad","KP",1996
print(name)
address = ("bangalore","indiranagara",560038)
print(address)

('Prasad', 'KP', 1996)
('bangalore', 'indiranagara', 560038)

In [39]:
name[1] = "prasad"

TypeError: 'tuple' object does not support item assignment

In [40]:
a=b=c=d=10
print(c)
a,b=11,12
print(a)
print(b)

10
11
12

In [41]:
book = ((2001,"kuvempu","mukkajji kanasu"),(2002,"purna chandra","andoman"),(2003,"dara bendre","naku thanthi"))
kuvempu,purna,bendre=book
print(kuvempu)
print(purna)
print(bendre)

(2001, 'kuvempu', 'mukkajji kanasu')
(2002, 'purna chandra', 'andoman')
(2003, 'dara bendre', 'naku thanthi')

In [43]:
book = ((2001,"kuvempu","mukkajji kanasu"),(2002,"purna chandra","andoman"),(2003,"dara bendre","naku thanthi"),[2003,"Prasad","prasli"])
print(book)

((2001, 'kuvempu', 'mukkajji kanasu'), (2002, 'purna chandra', 'andoman'), (2003, 'dara bendre', 'naku thanthi'), [2003, 'Prasad', 'prasli'])

In [44]:
book[3].append("Prasada.kp")
print(book)

((2001, 'kuvempu', 'mukkajji kanasu'), (2002, 'purna chandra', 'andoman'), (2003, 'dara bendre', 'naku thanthi'), [2003, 'Prasad', 'prasli', 'Prasada.kp'])

In [46]:
book.append("navven")

AttributeError: 'tuple' object has no attribute 'append'