In [1]:
name = "Prasad"

In [2]:
name

'Prasad'

In [3]:
print('Prasad')

Prasad

In [5]:
print(1+2)
print("Hi", "Prasad", "your age is", 24)

3
Hi Prasad your age is 24

# String

In [7]:
print("Python's learning")

Python's learning

In [8]:
print('This is "qouat"')

This is "qouat"

In [9]:
greeting = "Hi"
name = input("please enter your name")
print(greeting+name)
print(greeting+ " " +name)

please enter your namePrasad
HiPrasad
Hi Prasad

# Escape

In [12]:
newline = "Hi uday \nGood Morning"
print(newline)

Hi uday
Good Morning

In [14]:
tab = "Hi\tPrasad\tGood morning"
print(tab)

Hi	Prasad	Good morning

In [16]:
print('Hi "Prasad \'how are you\'.')

Hi "Prasad 'how are you'.

# DataTypes

In [18]:
data = 25
data2 =2.2
data3 = "prasad"
print(type(data), type(data2), type(data3))

<class 'int'> <class 'float'> <class 'str'>

# Numeric operator

In [19]:
a =12
b =3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
for i in range(1,5):
    print(i)

15
9
36
4.0
4
0
1
2
3
4

# Operator precedence

In [20]:
print((((3+12)/3)-4)*12)

12.0

# Slicing

In [21]:
name = "Cognizant technology solution"
name[:]

'Cognizant technology solution'

In [22]:
name[0:9]

'Cognizant'

In [23]:
name[:9]

'Cognizant'

In [25]:
name[:20]

'Cognizant technology'

In [26]:
name[:-20]

'Cognizant'

In [28]:
name[10:20]

'technology'

In [29]:
name[-20:20]

' technology'

In [30]:
name[0::2]

'Cgiattcnlg ouin'

# String Replacement

In [31]:
print("my age is {0} in {1}".format(24,2020))

my age is 24 in 2020